# agents/agentA_knowledge/requirements.txt

# Main web framework
fastapi
uvicorn[standard]
pydantic

# LangChain libraries
langchain
langchain-community
langgraph
langchain-text-splitters

# For loading PDF documents
pypdf

# For creating vector embeddings with a local model
langchain-huggingface
sentence-transformers

# For interacting with ChromaDB vector store
# vvv MODIFY/ADD THESE LINES vvv
chromadb==0.4.24
langchain-chroma==0.1.0
# ^^^ MODIFY/ADD THESE LINES ^^^

# Google libraries to interact with Google Drive
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv