# Main web framework
fastapi
uvicorn[standard]
pydantic

# LangChain libraries
langchain
langchain-community
langgraph
langchain-text-splitters

# For loading PDF documents
pypdf

# For creating vector embeddings with a local model
langchain-huggingface
sentence-transformers

# For interacting with ChromaDB vector store
chromadb==0.4.24
langchain-chroma==0.1.0

# Google libraries to interact with Google Drive
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv

# For using Google's LLM
langchain-google-genai